/* set charset */
@charset "UTF-8";

/* #region ############################################### general styles ############################################### */

/* dark-mode */
[data-color-scheme="dark"] {
	--bg__color_raw: var(--color__dark--rgb_raw);
	--bg__color: var(--color__dark--rgb);
	--text__color_raw: var(--color__white--rgb_raw);
	--text__color: var(--color__white--rgb);
	--highlight__color_raw: var(--text__color_raw);
	--highlight__color: var(--text__color);
}

/* selection */
::selection {
	background-color: rgb(var(--highlight__color_raw) / 30%);
}

/* focus */
:focus-visible,
:focus-visible img {
	outline: 0.2rem solid var(--highlight__color) !important;
	outline-offset: 0.1rem;
	background-color: rgb(var(--highlight__color_raw) / 16%);
}

:focus-visible img {
	outline-offset: -0.2rem;
}

/* document */
html {
	min-height: 100%;
	scroll-behavior: var(--scroll-behavior);
	scroll-padding-top: calc(var(--header__height) + var(--gutter) * 3 / 2);
	accent-color: var(--color__ci-main--rgb);
}

body {
	-webkit-tap-highlight-color: inherit;
	-webkit-text-size-adjust: inherit;
	text-size-adjust: inherit;
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;
	position: relative;
	margin: 0;
	background-color: var(--bg__color);
	min-height: var(--viewport__height);
	color: var(--text__color);
	font-weight: var(--font__weight--regular);
	font-size: var(--font__size--sm);
	line-height: var(--line-height--md);
	font-family: var(--font__family--ci);
	font-optical-sizing: none;
	text-rendering: inherit;
	overflow-wrap: inherit;
	tab-size: inherit;
}

body::before {
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0.125;
	z-index: -1;
	width: max(30rem, 47.5%);
	height: auto;
	pointer-events: none;
	content: url("data:image/svg+xml,%3Csvg fill='rgb(58, 152, 204)' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 873 1471'%3E%3Cpath d='m-.02.11 766.24 820.96c143.79 149.28 141.4 390.28-5.43 537.14a381.29 381.29 0 0 1-271.37 112.4H-.02V.11z'/%3E%3C/svg%3E");
}

/* headlines */
:is(h1, .h1, h2, .h2, h3, .h3, h4, .h4) {
	display: block;
	margin-bottom: 0.5em;
	width: -moz-fit-content;
	width: fit-content;
	color: var(--text__color);
	line-height: var(--line-height--sm);

	/* font-weight: var(--font__weight--semibold) */
	font-variation-settings: "wght" var(--font__weight--semibold);
	-webkit-hyphens: auto;
	hyphens: auto;
	letter-spacing: -0.01125em;
}

:is(h1, .h1, h2, .h2) {
	margin-bottom: 1em;
	font-size: var(--font__size--xl);
}

:is(h3, .h3) {
	font-size: var(--font__size--lg);
}

:is(h4, .h4) {
	font-size: var(--font__size--md);

	/* font-weight: var(--font__weight--bold) */
	font-variation-settings: "wght" var(--font__weight--bold);
}

/*
*#
*#
*#
*#
*#
*#
*#
*/

/* #endregion */

/* #region ############################################### frame styles ############################################### */
.frame-two-cols {
	column-gap: var(--gutter);
	columns: 2;
	column-width: 40ch;
}

.infobox {
	--text__color_raw: var(--color__black--rgb_raw);
	--text__color: var(--color__black--rgb);

	position: relative;
	border: var(--border__line) var(--color__ci-main--rgb);
	border-radius: calc(var(--gutter) * 1);
	background-color: var(--bg__color);
	padding: calc(var(--gutter) * 3 / 4) calc(var(--gutter) * 2 / 3);
	color: var(--text__color);
}

.infobox,
.infobox > .frame-infobox {
	height: 100%;
}

.hs-chancengleichheit.infobox,
.hs-chancengleichheit.infobox > .frame-infobox {
	height: initial;
}

.hs-chancengleichheit.infobox > .frame-infobox header > * {
	font-size: var(--font__size--md);
}

.hs-chancengleichheit.infobox > .frame-infobox .hs-text {
	font-size: var(--font__size--xs);
}

.infobox > .frame-infobox {
	display: flex;
	flex-direction: column;
}

.infobox > .frame-infobox [class|="fa"i] {
	vertical-align: -0.0125em;
	color: var(--color__ci-main--rgb);
	font-size: 0.825em;
}

.infobox > .frame-infobox header > * {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: calc(var(--gutter) / 3);
	margin-bottom: calc(var(--gutter) / 3);
	font-size: var(--font__size--lg);
	line-height: var(--line-height--xs);
}

.infobox > .frame-infobox p:has([class*="btn"i]:last-child) {
	margin-top: auto;
}

@supports not selector(:has(*)) {
	.infobox > .frame-infobox > :last-child {
		margin-top: auto;
	}
}

/* accordions */
.banner a {
	--highlight__color_raw: var(--color__ci-mint--rgb_raw);
	--highlight__color: var(--color__ci-mint--rgb);
	--text__color_raw: var(--color__white--rgb_raw);
	--text__color: var(--color__white--rgb);
	--bg__color_raw: var(--color__ci-blue--rgb_raw);
	--bg__color: var(--color__ci-blue--rgb);

	display: flex;
	position: fixed;
	top: calc(var(--header__height) + var(--gutter));
	right: 0;
	justify-content: start;
	align-items: center;
	gap: calc(var(--gutter) / 4);
	z-index: 5;
	border-radius: var(--gutter) 0 0 var(--gutter);
	background-color: var(--bg__color);
	padding: calc(var(--gutter) * 3 / 8) calc(var(--gutter) * 4 / 4);
	padding-right: min(12.5rem, calc((var(--viewport__width) - var(--container__width)) / 2 + var(--gutter)));
	width: auto;
	color: var(--text__color);
	font-variation-settings: "wght" var(--font__weight--medium);
}

.banner :is(:any-link) {
	transition: color var(--transition);
}

.banner :is(:any-link):is(:hover, :focus-visible) {
	--text__color_raw: var(--highlight__color_raw);
	--text__color: var(--highlight__color);
}

/* slider */
.slider-element {
	--slider-gap: calc(var(--gutter) * 2);
}

.slider-item:not(.active) {
	pointer-events: none;
	-webkit-user-select: none;
	user-select: none;
}

/* text */
.frame-type-text > *,
.ce-bodytext {
	justify-self: center;
	max-width: min(max(50ch, calc((var(--container__width) - var(--gutter)) * 3 / 4)), 75ch);
}

.frame-type-text > header {
	max-width: min(max(50ch, calc((var(--container__width) - var(--gutter)) * 1 / 2)), 75ch);
}

/* videos */
.video > .video-embed {
	position: relative;
	cursor: pointer;
}

.video > .video-embed::after {
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	justify-content: center;
	align-items: center;
	transform: translateX(-50%) translateY(-50%);
	transition: transform var(--transition), opacity var(--transition);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 53 53'%3E%3Ccircle cx='26.5' cy='26.5' r='26.5' fill='%23fff'/%3E%3Cpath d='M35.55 25.64a1 1 0 0 1 0 1.72L22.51 35.1a1 1 0 0 1-1.51-.86V18.76a1 1 0 0 1 1.51-.86Z'/%3E%3C/svg%3E");
	aspect-ratio: 1/1;
	min-width: 10%;
	min-height: 10%;
	pointer-events: none;
	content: "";
}

.video > .video-embed:hover::after,
.video > .video-embed:focus-within::after {
	transform: translateX(-50%) translateY(-50%) scale(1.125);
}

.video > .video-embed.playing::after {
	transform: translateX(-50%) translateY(-50%) scale(0.75);
	opacity: 0;
}

.video > .video-embed .preview-text {
	display: grid;
	top: initial !important;
	bottom: 2.5%;
	left: 50% !important;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: calc(var(--gutter) / 2);
	transform: translateX(-50%);
	border-radius: var(--gutter);
	background-color: var(--color__ci-main--rgb);
	padding: calc(var(--gutter) / 3) calc(var(--gutter) / 2);
	width: 70ch !important;
	max-width: 100%;
	height: auto !important;
	color: var(--color__white--rgb);
	font-size: 0.625em;
	line-height: 1.1;
}

.video > .video-embed .preview-text > span {
	position: static !important;
	height: auto !important;
	font-size: 2em;
	line-height: 0;
}

.vimeo-allowed .video > .video-embed .preview-text {
	display: none;
}

[data-fancybox] video {
	pointer-events: none;
	-webkit-user-select: none;
	user-select: none;
}

/*
*#
*#
*#
*#
*#
*#
*#
*/

/* #endregion */

/* #region ############################################### link styles ############################################### */
#header :any-link {
	transition: color var(--transition);
	color: var(--text__color);
	font-size: var(--font__size--sm);

	/* font-weight: var(--font__weight--bold) */
	font-variation-settings: "wght" var(--font__weight--bold);
	text-decoration: none;
}

#main :any-link:is(.page, .download, .email, .telephone, .external-link) {
	transition: text-shadow var(--transition);
	color: var(--highlight__color);
	text-decoration: underline;
	text-decoration-thickness: 0.0625em;
	text-underline-offset: 0.075em;
}

#main :any-link:is(.page, .download, .email, .telephone, .external-link):is(:hover, :focus-visible) {
	text-shadow: 0 0 0.625em rgb(var(--highlight__color_raw) / 32.5%);
}

#footer .footer-social :any-link {
	display: inline-block;
	transition: transform var(--transition);
	color: var(--highlight__color);
}

#footer .footer-social :any-link:is(:hover, :focus-visible) {
	transform: scale(1.075);
}

#footer .footer-legal :any-link {
	transition: background-size var(--transition);
	background-image: linear-gradient(to left, currentcolor, currentcolor);
	background-position: right bottom 0.25rem;
	background-size: 0% 0.15rem;

	/* font-weight: var(--font__weight--semibold) */
	font-variation-settings: "wght" var(--font__weight--semibold);
}

#footer .footer-legal :any-link:is(:hover, :focus-visible) {
	background-position: left bottom 0.25rem;
	background-size: 100% 0.15rem;
}

:is(:any-link, button, [class*="btn"i], [type="button"i], [type="reset"i], [type="submit"i]) {
	cursor: pointer;
}

/* buttons */
:is(button, [class*="btn"i], [type="button"i], [type="reset"i], [type="submit"i]) {
	--btn--bg__color_raw: var(--color__ci-pink--rgb_raw);
	--btn--bg__color: var(--color__ci-pink--rgb);
	--btn--text__color_raw: var(--color__white--rgb_raw);
	--btn--text__color: var(--color__white--rgb);

	display: inline-block;
	transition: box-shadow var(--transition), color var(--transition), background-color var(--transition);
	box-shadow: 0 0 0 rgb(var(--btn--bg__color_raw) / 31.25%);
	border: none !important;
	border-radius: 100vmax;
	background-color: var(--btn--bg__color);
	padding: 0.425em 1.25em;
	color: var(--btn--text__color);

	/* font-weight: var(--font__weight--semibold) */
	font-variation-settings: "wght" var(--font__weight--semibold);
	-webkit-hyphens: auto;
	hyphens: auto;
}

[class*="btn"i]:is(:hover, :focus-visible) {
	box-shadow: 0 0 0.625em rgb(var(--btn--bg__color_raw) / 37.5%);
}

[class*="btn"i]::after,
[class*="btn"i]::before {
	display: inline-block;
	transform: translateY(2.5%);
	transition: transform var(--transition);
	font-weight: var(--font__weight--black);
	font-family: var(--font__family--fa);

	/* font-variation-settings: "wght" var(--font__weight--black); */
}

[class*="btn"i]::before {
	margin-right: 0.125em;
	margin-left: -0.0375em;
}

[class*="btn"i]::after {
	margin-left: 0.125em;
	content: "\00A0\F178";
}

[class*="btn"i]:is(:hover, :focus-visible)::after {
	transform: translateX(0.25em) translateY(2.5%);
}

[class*="btn"i]:is(:hover, :focus-visible)::before {
	transform: translateX(-0.25em) translateY(2.5%);
}

/* var(--breakpoint-lg) => 960px */
@media (min-width: 960px) {
	[class*="btn"i] {
		padding: 0.25em 1.125em;
	}
}

.btn--back {
	--btn--bg__color_raw: var(--color__ci-dark-blue--rgb_raw);
	--btn--bg__color: var(--color__ci-dark-blue--rgb);
}

.btn--back::after {
	content: none;
}

.btn--back::before {
	content: "\F177\00A0";
}

.btn--cross::after {
	transform: scale(1.125) translateY(3.75%);
	margin-right: 0;
	margin-left: 0.5em;
	content: "\00A0\F00D";
}

.btn--cross:is(:hover, :focus-visible)::after {
	transform: scale(0.95) translateY(3.75%);
}

.btn--icon {
	--btn--text__color_raw: var(--color__black--rgb_raw);
	--btn--text__color: var(--color__black--rgb);
	--btn--bg__color_raw: var(--color__white--rgb_raw);
	--btn--bg__color: var(--color__white--rgb);

	padding: 0 0.5em;
	aspect-ratio: 1/1;
	line-height: 0;
}

.open-filter .btn--icon {
	--btn--text__color_raw: var(--color__white--rgb_raw);
	--btn--text__color: var(--color__white--rgb);
	--btn--bg__color_raw: var(--color__ci-pink--rgb_raw);
	--btn--bg__color: var(--color__ci-pink--rgb);
}

.btn--icon::after,
.btn--icon::before {
	content: none;
}

.btn__hero {
	padding: 0.5em 2.375em;
}

.btn__hero::after,
.btn__hero::before {
	content: none;
}

.btn--check {
	content: "\00A0\F00C";
}

/* var(--breakpoint-md) => 744px */
@media (min-width: 744px) {
	.btn__hero {
		padding: 0.5em 3em;
	}
}

/* var(--breakpoint-lg) => 960px */
@media (min-width: 960px) {
	.btn__hero {
		padding: 0.75em 3.75em;
	}
}

/*
*#
*#
*#
*#
*#
*#
*#
*/

/* #endregion */

/* #region ############################################### miscellaneous styles ############################################### */

/* general */
:is(strong, b) {
	/* font-weight: var(--font__weight--bold) */
	font-variation-settings: "wght" var(--font__weight--bold);
}

:is(blockquote, em, i) {
	padding-inline-end: 0.05em;

	/* font-variation-settings: "ital" 1; */
	font-style: var(--font__style--italic);
}

blockquote {
	padding: calc(var(--gutter) * 2 / 3) calc(var(--gutter) * 1 / 3);
	font-size: var(--font__size--sm);
	line-height: var(--line-height--sm);
}

blockquote :not(:last-child) {
	margin-bottom: 0.25em;
}

blockquote :is(strong, b) {
	/* font-weight: var(--font__weight--semibold); */
	font-variation-settings: "wght" var(--font__weight--semibold);
}

blockquote :is(em, i) {
	/* font-weight: var(--font__weight--light); */
	font-variation-settings: "wght" var(--font__weight--light);
}

p {
	margin-bottom: 1.5em;
}

:is(p, dl, ol, ul):last-child {
	margin-bottom: 0;
}

:is(img, video) {
	object-fit: cover;
	object-position: center;
}

hr {
	opacity: 1;
	margin: calc(var(--gutter) * 1.125) 0;
	border-top: var(--border__line) var(--color__ci-main--rgb);
}

/* lists & sitemap */
::marker {
	transition: color var(--transition);
	color: var(--highlight__color);
}

/* video 16 by 9 */
video {
	aspect-ratio: 16/9;
}

/* forms */
.extended-select-button,
:is([type="text"i], [type="search"i], [type="password"i], [type="tel"i], [type="email"i], select, textarea) {
	--btn--text__color_raw: var(--color__dark--rgb_raw);
	--btn--text__color: var(--color__dark--rgb);
	--btn--bg__color_raw: var(--color__white--rgb_raw);
	--btn--bg__color: var(--color__white--rgb);

	outline: none !important;
	border: none;
	border-radius: var(--gutter);
	background-color: var(--btn--bg__color);
	padding: calc(var(--gutter) * 1 / 4) calc(var(--gutter) * 1 / 2);
	width: 100%;
	min-height: calc(var(--gutter) * 3 / 2);
	color: var(--btn--text__color);
	font-size: var(--font__size--sm);
}

/*
*#
*#
*#
*#
*#
*#
*#
*/

/* #endregion */

/* #region ############################################### header styles ############################################### */

/* general */
#header {
	--bg__color_raw: var(--color__white--rgb_raw);
	--bg__color: var(--color__white--rgb);
	--text__color_raw: var(--color__ci-main--rgb_raw);
	--text__color: var(--color__ci-main--rgb);
	--highlight__color_raw: var(--color__ci-pink--rgb_raw);
	--highlight__color: var(--color__ci-pink--rgb);

	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	transition: min-height var(--transition), background-color var(--transition);
	background-color: var(--bg__color);
	padding: calc((var(--header__height) - var(--logo__size)) / 2) 0;
	width: 100%;
	min-height: var(--header__height);
}

.user-scroll #header {
	--bg__color_raw: var(--color__ci-main--rgb_raw);
	--bg__color: var(--color__ci-main--rgb);
	--text__color_raw: var(--color__white--rgb_raw);
	--text__color: var(--color__white--rgb);
	--highlight__color_raw: var(--color__ci-mint--rgb_raw);
	--highlight__color: var(--color__ci-mint--rgb);

	min-height: calc(var(--header__height) - 4rem);
}

#header [aria-current="page"],
#header .nav-item:is(:hover, :focus-visible) {
	--text__color_raw: var(--color__ci-pink--rgb_raw);
	--text__color: var(--color__ci-pink--rgb);
}

.user-scroll #header [aria-current="page"],
.user-scroll #header .nav-item:is(:hover, :focus-visible) {
	--text__color_raw: var(--color__ci-mint--rgb_raw);
	--text__color: var(--color__ci-mint--rgb);
}

/* var(--breakpoint-xl) => 1260px */
@media (min-width: 1260px) {
	#header > .container {
		max-width: min(
			max(var(--container__width), var(--container__width) / 2 + 47.5vw),
			var(--container__width) + var(--logo__size) + var(--gutter) * 2 / 3
		) !important;
	}
}

#header .row {
	row-gap: 0;
}

/* logo */
#header .logo .ce-gallery {
	position: relative;
}

#header .logo .ce-gallery > :nth-child(2) {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

#header .logo img {
	transform: translateY(-7.5%);
	transition: height var(--transition),
		opacity calc(var(--transition__duration) / 2) var(--transition__timing-function) var(--transition__delay);
	width: auto;
	height: var(--logo__size);
}

.user-scroll #header .logo img {
	height: calc(var(--logo__size) - 3.5rem);
}

.user-scroll #header .logo .ce-gallery > :nth-child(1) img {
	opacity: 0;
}

/* menu toggler */
#header .col-button {
	line-height: 0;
}

#header .menu-toggler {
	position: relative;
	border: none;
	border-radius: 0;
	background-color: transparent;
	padding: 0;
	width: 1.75em;
	height: 1.2em;
}

#header .menu-toggler .menu-icon .menu-icon-bar {
	display: block;
	position: absolute;
	transform-origin: center;
	transition: all var(--transition);
	border-radius: 0.5rem;
	background: var(--text__color);
	width: 1.75em;
	height: 0.2em;
}

#header .menu-toggler[aria-expanded="true"] .menu-icon .menu-icon-bar-top,
#header .menu-toggler[aria-expanded="true"] .menu-icon .menu-icon-bar-bottom {
	transform: translateY(-0.75em) scaleX(0);
	opacity: 0;
}

#header .menu-toggler[aria-expanded="true"] .menu-icon .menu-icon-bar-top {
	transform: translateY(0.75em) scaleX(0);
}

#header .menu-toggler[aria-expanded="true"] .menu-icon .menu-icon-x-top {
	transform: rotate(-42.5deg) scaleX(1.1);
}

#header .menu-toggler[aria-expanded="true"] .menu-icon .menu-icon-x-bottom {
	transform: rotate(42.5deg) scaleX(1.1);
}

#header .menu-toggler .menu-icon .menu-icon-bar-top {
	top: 0;
}

#header .menu-toggler .menu-icon .menu-icon-x {
	bottom: calc(50% - 0.1em);
}

#header .menu-toggler .menu-icon .menu-icon-bar-bottom {
	bottom: 0;
}

/* main nav */
#main-nav {
	visibility: hidden;
	transition: height var(--transition), visibility var(--transition__delay) step-start var(--transition__duration);
	width: 100%;
	height: 0;
	overflow-y: hidden;
}

#main-nav.open {
	visibility: visible;
	transition: height var(--transition), visibility var(--transition__delay) step-start var(--transition__delay);
	height: var(--collapse-height);
}

.collapse:not(.transition):not(.open) {
	visibility: hidden;
}

.collapse:not(.open) {
	height: 0 !important;
}

.collapse.transition {
	transition: height var(--transition);
	overflow-y: hidden;
}

/* var(--breakpoint-lg) => 960px */
@media (min-width: 960px) {
	#main-nav {
		visibility: revert;
		transition: height var(--transition);
		height: auto !important;
		overflow: revert;
	}
}

#main-nav > .nav {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	margin-top: calc((var(--header__height) - var(--logo__size)) * 2 / 3);
	border-top: var(--border__line) var(--text__color);
	padding: calc((var(--header__height) - var(--logo__size)) / 4) 0 0;
}

#main-nav > .nav .nav-item {
	padding: calc(var(--gutter) / 4) 0;
}

/* var(--breakpoint-lg) => 960px */
@media (min-width: 960px) {
	#header .nav {
		flex-flow: row nowrap;
		align-items: center;
		margin: 0;
		border-top: none;
		padding: 0;
	}

	#main-nav > .nav .nav-item {
		padding: calc(var(--gutter) / 4) calc(var(--gutter) / 2);
	}
}

/* main-nav bar */

/* var(--breakpoint-lg) => 960px */
@media (min-width: 960px) {
	#main-nav {
		--bar-width: 100%;
		--bar-position: 0;
		--bar-active: 0;
	}

	#main-nav::after {
		position: absolute;
		right: var(--bar-position);
		bottom: calc(-1 * ((var(--header__height) - var(--logo__size)) / 2));
		opacity: var(--bar-active);
		transition: width var(--transition), right var(--transition),
			opacity var(--transition__duration) var(--transition__timing-function) var(--transition__duration);
		border-radius: 100vmax;
		background-color: var(--highlight__color);
		width: var(--bar-width);
		height: calc(var(--gutter) / 6);
		content: "";
	}
}

/*
*#
*#
*#
*#
*#
*#
*#
*/

/* #endregion */

/* #region ############################################### hero styles ############################################### */
#hero {
	--bg__color_raw: var(--color__ci-main--rgb_raw);
	--bg__color: var(--color__ci-main--rgb);
	--text__color_raw: var(--color__white--rgb_raw);
	--text__color: var(--color__white--rgb);
	--highlight__color_raw: var(--text__color_raw);
	--highlight__color: var(--text__color);

	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	margin-top: var(--header__height);
	background-color: var(--bg__color);
	padding-bottom: calc(var(--header__height) / 2);
	width: 100%;
	min-height: calc(var(--viewport__height) - var(--header__height) - 4 * var(--gutter));
	overflow: hidden;
	color: var(--text__color);
	text-align: center;
}

#page-1 #hero {
	min-height: calc(var(--viewport__height) - var(--header__height));
}

/* hero media */
#hero > .media,
#hero > .media * {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

#hero > .media > .image {
	pointer-events: none;
}

#hero > .media .image::after {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.25;
	mix-blend-mode: multiply;
	margin: 0;
	background-image: linear-gradient(to top, var(--color__ci-orange--rgb), var(--color__white--rgb));
	width: 100%;
	height: 100%;
	pointer-events: none;
	content: "";
}

#hero .video > .video-embed:not(.playing)::after {
	opacity: 0.325;
}

/* hero content */
#hero > .content {
	position: relative;
	margin: var(--gutter) 0 calc(var(--gutter) + 4vh);
	width: 100%;
}

#hero > .content header > * {
	margin-bottom: 0;
}

/* var(--breakpoint-lg) => 960px */
@media (min-width: 960px) {
	.flex-row {
		--gap: calc(var(--gutter) * 1.5);
	}
}

.flex-row-item {
	--bg__color_raw: var(--color__ci-mint--rgb_raw);
	--bg__color: var(--color__ci-mint--rgb);

	display: flex;
	justify-content: center;
	align-items: center;
	margin-inline: auto;
	border-radius: var(--gutter);
	background-color: var(--bg__color);
	padding: var(--gutter);
	aspect-ratio: 1/1;
	max-width: calc(var(--breakpoint--sm) * 1 / 2);
	text-align: center;
}

/* var(--breakpoint-lg) => 960px */
@media (min-width: 960px) {
	.flex-row-item {
		max-width: 50ch;
	}
}

.flex-row-item .ce-textpic.ce-above {
	border-radius: 0;
}

.flex-row-item .ce-textpic.ce-above > .ce-gallery {
	border-radius: 0;
	aspect-ratio: 16/9;
}

.flex-row-item .ce-textpic.ce-above > .ce-gallery img {
	padding: calc(var(--gutter) / 4);
	object-fit: contain;
}

.ce-textpic.ce-intext :is(h2, .h2, h3, .h3) {
	margin-bottom: 0.5em;
}

.ce-textpic.ce-intext :is(h2, .h2) {
	font-size: var(--font__size--lg);
}

.ce-textpic.ce-intext :is(h3, .h3) {
	font-size: var(--font__size--md);
}

/*
*#
*#
*#
*#
*#
*#
*#
*/

/* #endregion */

/* #region ############################################### main styles ############################################### */
#content {
	/* overflow-x: hidden; */
	contain: paint;
}

#content:first-child {
	margin-top: var(--header__height);
}

#content > div {
	margin-block: calc(var(--gutter) * 2);
}

/* slider */
.ce-textpic.ce-intext {
	--bg__color_raw: var(--color__ci-mint--rgb_raw);
	--bg__color: var(--color__ci-mint--rgb);
	--text__color_raw: var(--color__dark--rgb_raw);
	--text__color: var(--color__dark--rgb);

	display: grid;
	grid-template-rows: auto 1fr;
	border-radius: var(--gutter);
	background-color: var(--bg__color);
	overflow: hidden;
	color: var(--text__color);
}

.ce-textpic.ce-intext::before,
.ce-textpic::after {
	content: none;
}

.ce-textpic.ce-intext > .ce-gallery {
	position: relative;
	margin: 0;
	padding: 0;
	max-width: initial;
	min-height: min(calc(100vw * 2 / 3), 36rem);
}

.ce-textpic.ce-intext > .ce-gallery * {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.ce-textpic.ce-intext > .ce-gallery img {
	object-position: center calc(100% / 6);
}

.ce-textpic.ce-intext > .ce-bodytext {
	padding: var(--gutter) calc(var(--gutter) / 2);
}

/* var(--breakpoint-lg) => 960px */
@media (min-width: 960px) {
	.ce-textpic.ce-intext {
		grid-template-rows: initial;
		grid-template-columns: 1fr 2fr;
	}

	.ce-textpic.ce-intext > .ce-gallery {
		min-height: initial;
	}

	.ce-textpic.ce-intext > .ce-bodytext {
		padding: calc(var(--gutter) * 5 / 3) calc(var(--gutter) * 4 / 3);
	}
}

.ce-textpic.ce-above {
	display: grid;
	grid-template-rows: auto 1fr;
	border-radius: var(--gutter);
	overflow: hidden;
}

.ce-textpic.ce-above > .ce-gallery {
	position: relative;
	aspect-ratio: 16/9;
	overflow: hidden;
}

.ce-textpic.ce-above > .ce-gallery * {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: var(--gutter);
	width: 100%;
	height: 100%;
}

.slider-element .slider-button {
	z-index: 4;
	background-color: transparent;
	aspect-ratio: 1/1;
}

.slider-button.slider-button::after {
	position: absolute;
	top: 0;
	left: 0;
	transition: background-color var(--transition);
	margin: calc(var(--gutter) / 4);
	border-radius: 100vmax;
	background-color: transparent;
	width: calc(100% - var(--gutter) / 2);
	height: calc(100% - var(--gutter) / 2);
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%238d8f8c' viewBox='0 0 63 63'%3E%3Cpath d='M46 31.8H18.61m9.2 8.2-9.99-8.08 10-8.34'/%3E%3Ccircle cx='31.5' cy='31.5' r='31'/%3E%3C/svg%3E");
}

.slider-button.slider-button-next::after {
	transform: scaleX(-1);
}

.slider-button.slider-button::before {
	position: absolute;
	top: 0;
	left: 0;
	margin: calc(var(--gutter) / 4);
	border-radius: 100vmax;
	background-color: var(--color__white--rgb);
	width: calc(100% - var(--gutter) / 2);
	height: calc(100% - var(--gutter) / 2);
	content: "";
}

.slider-button.slider-button:is(:hover, :focus-visible)::after {
	background-color: rgb(var(--color__ci-mint--rgb_raw) / 20%);
}

/* stellenangebote */
#hs-filter:nth-child(n) {
	--bg__color_raw: var(--color__ci-blue--rgb_raw);
	--bg__color: var(--color__ci-blue--rgb);

	display: flex;
	position: static;
	top: calc(var(--header__height) - var(--gutter) / 4);
	flex-direction: column;
	border: none;
	border-radius: calc(var(--gutter) * 5 / 4);
	background-color: var(--bg__color);
	padding: calc(var(--gutter) * 1 / 2);
}

#hs-filter .card-body > .row {
	--gap: calc(var(--gutter) / 2);

	padding-top: calc(var(--gutter) / 2);
}

#hs-filter [class*="btn"] {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(var(--gutter) * 3 / 2);
}

#hs-search {
	width: 100%;
}

/* var(--breakpoint-lg) => 960px */
@media (min-width: 960px) {
	#hs-search {
		max-width: calc(100% * 3 / 4);
	}
}

/* var(--breakpoint-xl) => 1260px */
@media (min-width: 1260px) {
	#hs-search {
		max-width: calc(100% * 2 / 3);
	}
}

/* he-stellen */
#hs-stellen {
	--text__color_raw: var(--color__black--rgb_raw);
	--text__color: var(--color__black--rgb);
	--bg__color_raw: var(--color__ci-mint--rgb_raw);
	--bg__color: var(--color__ci-mint--rgb);

	border-radius: var(--gutter);
	background-color: var(--bg__color);
	padding: calc(var(--gutter) * 1 / 4) calc(var(--gutter) * 1 / 2);
	width: 100%;
	-webkit-hyphens: auto;
	hyphens: auto;
	word-break: break-word;
}

#hs-filter-collapse {
	border-radius: calc(var(--gutter) * 3 / 4);
}

#hs-stellen ::marker {
	color: var(--text__color);
}

#hs-filter-reset > .row > :empty {
	display: none;
}

.hs-stelle-row:nth-child(n) {
	position: relative;
	margin-inline: calc(var(--gutter) * 1 / 4);
	padding-block: calc(var(--gutter) / 2);
}

.hs-stelle-row:not(:last-child) {
	border-bottom: var(--border__line--thick) rgb(var(--color__white--rgb_raw) / 40%) !important;
}

.hs-stelle-row > .hs-stelle-header {
	display: flex;
	justify-content: space-between;
	gap: calc(var(--gutter) / 2);
	background-color: transparent;
	width: 100%;
	color: var(--text__color);
	font-size: var(--font__size--sm);
	line-height: var(--line-height--sm);
	font-variation-settings: "wght" var(--font__weight--semibold);
}

.hs-stelle-row > .hs-stelle-header > .hs-stelle-icon {
	--text__color_raw: var(--color__ci-blue--rgb_raw);
	--text__color: var(--color__ci-blue--rgb);

	color: var(--text__color);
	font-weight: var(--font__weight--regular);
}

.hs-stelle-row > .hs-stelle-header > .hs-stelle-icon > .hs-stelle > .fa::before {
	display: block;
	transform: translateY(75%);
	transition: transform var(--transition);
}

.hs-stelle-row:is(:hover, :focus-visible) > .hs-stelle-header > .hs-stelle-icon > .hs-stelle > .fa::before {
	transform: translateY(75%) translateX(25%);
}

.hs-stelle-row > .hs-stelle-header > .hs-stelle-title {
	transition: color var(--transition);
}

.hs-stelle-row > .hs-stelle-body {
	display: flex;
	flex-wrap: wrap;
	gap: calc(var(--gutter) / 6);
	transition: color var(--transition);
	margin-top: 0.5em;
	padding-left: 0;
	color: var(--text__color);
	font-size: var(--font__size--xs);
	line-height: 1;
}

.hs-stelle-row > .hs-stelle-body > li {
	margin-left: 1em;
	padding-right: 0.25em;
}

.hs-stelle-row:is(:hover, :focus-visible) {
	--text__color_raw: var(--color__ci-blue--rgb_raw);
	--text__color: var(--color__ci-blue--rgb);
}

.hs-stelle-row .hs-stelle::before {
	position: absolute;
	top: 0;
	right: calc(-1 / 4 * var(--gutter));
	width: calc(100% + var(--gutter) / 2);
	height: 100%;
	content: "";
}

.hs-stelle-detail > :nth-child(2) {
	flex-direction: column;
}

.hs-stelle-detail > :nth-child(2) > :last-child {
	flex-direction: column;
	height: min-content;
}

/* var(--breakpoint-lg) => 960px */
@media (min-width: 960px) {
	.hs-stelle-detail > :nth-child(2) {
		flex-direction: row;
	}

	.hs-stelle-detail > :nth-child(2) > :last-child {
		position: sticky;
		top: var(--header__height);
		margin-bottom: calc(var(--gutter) * 1 / 3);
	}
}

.hs-kontakt {
	--bg__color_raw: var(--color__ci-mint--rgb_raw);
	--bg__color: var(--color__ci-mint--rgb);

	margin: 0;
	border: none;
	border-radius: var(--gutter);
	background-color: var(--bg__color);
	padding: calc(var(--gutter) / 2) !important;
}

.hs-kontakt > h2 {
	margin-block: calc(var(--gutter) / 4);
	border-bottom: var(--border__line--thick) rgb(var(--color__white--rgb_raw) / 40%) !important;
	padding-bottom: calc(var(--gutter) / 4);
	width: 100%;
	font-size: var(--font__size--md);
	font-variation-settings: "wght" var(--font__weight--semibold);
}

.hs-kontakt > .hs-text {
	font-size: var(--font__size--xs);
}

.hs-kontakt > .hs-text > * {
	margin-top: 1em;
}

.extended-select-container {
	position: relative;
}

.extended-select-menu {
	border: none;
}

.extended-select-menu:not(.open) {
	display: none;
}

.extended-select-list {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	flex-direction: column;
	z-index: 5;
	transition: box-shadow var(--transition), min-height var(--transition);
	box-shadow: 0 0 0.625em rgb(var(--text__color_raw) / 37.5%);
	border: none;
	border-radius: calc(var(--gutter) * 3 / 4);
	padding: 0;
	width: 100%;
}

.extended-select-item {
	--btn--text__color_raw: var(--color__dark--rgb_raw);
	--btn--text__color: var(--color__dark--rgb);
	--btn--bg__color_raw: var(--color__white--rgb_raw);
	--btn--bg__color: var(--color__white--rgb);

	display: flex;
	align-items: center;
	cursor: pointer;
	border-radius: 0;
	background-color: var(--btn--bg__color);
	padding: calc(var(--gutter) / 8) calc(var(--gutter) / 2);
	color: var(--btn--text__color);

	/* font-weight: var(--font__weight--semibold); */
	font-variation-settings: "wght" var(--font__weight--semibold);
}

.extended-select-item.select {
	--btn--text__color_raw: var(--color__ci-pink--rgb_raw);
	--btn--text__color: var(--color__ci-pink--rgb);
}

.extended-select-item > label {
	width: calc(100% - var(--gutter));
}

.extended-select-item .option {
	display: none;
}

.extended-select-item:first-child {
	border-radius: calc(var(--gutter) * 3 / 4) calc(var(--gutter) * 3 / 4) 0 0;
	padding-top: calc(var(--gutter) * 3 / 10);
}

.extended-select-item:focus {
	z-index: 1;
}

.extended-select-item:last-child {
	border-radius: 0 0 calc(var(--gutter) * 3 / 4) calc(var(--gutter) * 3 / 4);
	padding-bottom: calc(var(--gutter) * 3 / 10);
}

.extended-select-button {
	display: grid;
	position: relative;
	grid-template-columns: 1fr auto;
	align-items: center;
	gap: calc(var(--gutter) * 2 / 3);
	transition: revert;
	width: 100%;
}

.extended-select-button-content {
	display: flex;
	max-width: calc(100% - var(--gutter) / 2);
	overflow: hidden;
}

.extended-select-button-content-inner {
	display: inline-block;
	transition: color var(--transition);
	overflow: hidden;
	color: var(--btn--text__color);
	text-overflow: ellipsis;
	white-space: nowrap;
}

.extended-select-button-arrow {
	pointer-events: none;
}

.extended-select-button-arrow::before {
	display: inline-block;
	position: absolute;
	top: 50%;
	right: calc(var(--gutter) * 2 / 3);
	transform: translateX(50%) translateY(-75%);
	z-index: 6;
	transition: transform var(--transition), line-height var(--transition);
	width: calc(var(--gutter) * 2 / 3);
	content: "\00A0\f078";
	color: var(--color__ci-blue--rgb);
	font-weight: var(--font__weight--black);
	line-height: 0;
	font-family: var(--font__family--fa);
}

[tabindex="-1"] > .extended-select-button-arrow::before {
	transform: translateX(25%) translateY(-25%) rotate(180deg);
	line-height: 0;
}

:is(.extended-select-item.select, .select > .extended-select-button-content)::after {
	display: inline-block;
	margin-left: 0.125em;
	content: "\00A0\F00C";
	font-weight: var(--font__weight--black);
	font-family: var(--font__family--fa);
}

#hs-filter-reset {
	margin-top: calc(var(--gutter) / 4);
	margin-left: calc(var(--gutter) * 3 / 4);
}

#hs-filter-reset > .row {
	--gap: calc(var(--gutter) * 2 / 3);
}

#hs-filter-reset [class*="btn"] {
	--btn--text__color_raw: var(--color__ci-pink--rgb_raw);
	--btn--text__color: var(--color__ci-pink--rgb);

	border: var(--border__line) var(--btn--text__color) !important;
	background-color: var(--color__white--rgb);
	padding: 0 0.5em;
	font-size: var(--font__size--xs);
	font-variation-settings: "wght" var(--font__weight--bold);
}

#hs-filter-reset [class*="btn"]::after {
	transform: translateY(3.75%);
	margin-right: 0 !important;
	margin-left: 0.25em;
}

#hs-filter-reset [class*="btn"]:is(:hover, :focus-visible)::after {
	transform: scale(0.85) translateY(3.75%);
}

:is(.extended-select .option, .extended-select-button).select {
	--btn--text__color_raw: var(--highlight__color_raw);
	--btn--text__color: var(--highlight__color);
}

.tx-haufe-stellen button {
	outline: none !important;
}

[id|="hs-num-items"] {
	margin-inline-start: auto;
}

#hs-num-items-bottom {
	margin-top: 1rem;
}

#bewerbung-extra {
	margin-top: calc(var(--gutter) * 2);
}

.tx-haufe-stellen :is(h2, .h2) {
	margin-bottom: 0.75em;
	font-size: calc(var(--font__size--md) * 1.1);
	line-height: var(--line-height--sm);
}

.hs-stelle-detail :is(h1, .h1) {
	margin: 0;
}

.hs-stelle-detail > .row:not(:last-child) {
	margin-bottom: var(--gutter);
}

.tx-haufe-stellen .hs-stelle-image {
	margin-top: calc(-1 * var(--gutter) * 2);
	margin-bottom: calc(var(--gutter) * 2);
}

.tx-haufe-stellen .hs-stelle-image,
.tx-haufe-stellen .hs-stelle-image > img {
	width: 100%;
	height: calc((var(--viewport__height) - var(--header__height)) / 3.5 + var(--gutter));
	object-fit: cover;
	object-position: 82.5% 25%;
}

/* var(--breakpoint-lg) => 960px */
@media (min-width: 960px) {
	.tx-haufe-stellen .hs-stelle-image,
	.tx-haufe-stellen .hs-stelle-image > img {
		width: 100%;
		height: calc((var(--viewport__height) - var(--header__height)) / 2 + var(--gutter));
	}
}

.tx-haufe-stellen > div,
.tx-haufe-stellen .hs-stelle-detail .row > * > div:not(:last-child) {
	margin-bottom: var(--gutter);
}

/* accordions */
.accordion {
	--text__color_raw: var(--color__black--rgb_raw);
	--text__color: var(--color__black--rgb);
	--bg__color_raw: var(--color__ci-mint--rgb_raw);
	--bg__color: var(--color__ci-mint--rgb);

	border-radius: var(--gutter);
	background-color: var(--bg__color);
	width: 100%;
	-webkit-hyphens: auto;
	hyphens: auto;
	word-break: break-word;
}

.accordion ::marker {
	color: var(--text__color);
}

.accordion-item .accordion-button {
	--btn--bg__color_raw: var(--color__ci-blue--rgb_raw);
	--btn--bg__color: var(--color__ci-blue--rgb);
	--btn--text__color_raw: var(--color__white--rgb_raw);
	--btn--text__color: var(--color__white--rgb);

	display: grid;
	grid-template-columns: 1fr auto;
	gap: calc(var(--gutter) / 2);
	border-radius: var(--gutter);
	background-color: var(--btn--bg__color);
	padding: calc(var(--gutter) * 1 / 2) calc(var(--gutter) * 3 / 4);
	width: 100%;
	color: var(--btn--text__color);
	font-size: var(--font__size--sm);
	line-height: var(--line-height--sm);
}

.accordion-item .accordion-button:is(:hover, :focus-visible) {
	--btn--text__color_raw: var(--color__ci-mint--rgb_raw);
	--btn--text__color: var(--color__ci-mint--rgb);
}

.accordion-item .accordion-button > .accordion-icon {
	transition: transform var(--transition), color var(--transition);
	color: var(--btn--text__color);
}

.accordion-body {
	padding: calc(var(--gutter) * 1 / 8) calc(var(--gutter) * 3 / 4) calc(var(--gutter) / 2);
	color: var(--text__color);
	font-size: var(--font__size--xs);
}

/* Bewerbungsablauf */
#c56 ol {
	position: relative;
	z-index: 1;
	counter-reset: li;
	padding-left: var(--gutter);
}

#c56 li {
	position: relative;
	z-index: 1;
	counter-increment: li;
	padding: calc(var(--gutter) * 2 / 3);
	color: white;
}

#c56 li::marker {
	content: none;
}

#c56 li::after {
	position: absolute;
	top: 0;
	left: calc(0% - 1.5 * var(--gutter));
	z-index: -1;
	border-radius: var(--gutter);
	background-color: var(--color__ci-main--rgb);
	padding: calc(var(--gutter) * 2 / 3);
	width: calc(100% + 2 * var(--gutter));
	height: 100%;
	content: "";
	color: white;
}

#c56 li::before {
	display: inline-block;
	position: absolute;
	top: 1em;
	left: calc(var(--gutter) * -1);
	z-index: 1;
	border-radius: var(--gutter);
	background-color: var(--color__white--rgb);
	padding: 0.5em 0.45em 0.5em 0.55em;
	aspect-ratio: 1/1;
	content: counter(li) ".";
	color: var(--color__ci-pink--rgb);
	line-height: calc(0.75);
	font-variation-settings: "wght" var(--font__weight--semibold);
}

#c56 {
	border-radius: var(--gutter);
}

/*
*#
*#
*#
*#
*#
*#
*#
*/

/* #endregion */

/* #region ############################################### fancybox styles ############################################### */
.fancybox-is-open .fancybox-toolbar {
	visibility: visible;
	opacity: 1;
}

.fancybox-slide {
	padding: calc(var(--gutter) / 3);
	padding-top: var(--gutter);
}

.fancybox-content:not(.frame) {
	background-color: transparent !important;
}

.fancybox-content > :is(iframe, video) {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	max-width: var(--container__width);
}

.fancybox-content > video {
	height: auto !important;
}

.fancybox-button {
	transition: transform var(--transition);
	margin: calc(var(--gutter) / 3);
	padding: calc(var(--gutter) / 6);
}

.fancybox-button:is(:hover, :focus-visible) {
	transform: scale(1.1);
}

/*
*#
*#
*#
*#
*#
*#
*#
*/

/* #endregion */

/* #region ############################################### footer styles ############################################### */
#footer {
	--text__color_raw: var(--color__dark--rgb_raw);
	--text__color: var(--color__dark--rgb);

	padding-top: calc(2 * var(--gutter));
	padding-bottom: calc(0.8 * var(--gutter));
	width: 100%;
	color: var(--text__color);
}

.footer-grid > * {
	flex-direction: column-reverse;
	justify-content: space-between;
	align-items: center;
	gap: var(--gutter);
	gap: calc(0.5 * var(--gutter));
}

/* var(--breakpoint-md) => 744px */
@media (min-width: 744px) {
	.footer-grid > * {
		flex-direction: row;
	}
}

/* var(--breakpoint-lg) => 960px */
@media (min-width: 960px) {
	#footer {
		padding-top: calc(4 * var(--gutter));
		padding-bottom: calc(1.5 * var(--gutter));
	}
}

.footer-social {
	font-weight: var(--font__weight--regular);
	font-size: var(--font__size--xl);
}

.footer-social-icons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.footer-legal ul {
	display: flex;
	flex-flow: row wrap !important;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	font-size: var(--font__size--xs);
}

.footer-legal ul > li {
	padding: 0;
	list-style: none;
}

.footer-legal ul > li:not(:first-child) {
	padding-left: calc(0.375 * var(--gutter));
}

.footer-legal ul > li:not(:last-child) {
	border-right: var(--border__line--thick) currentcolor;
	padding-right: calc(0.375 * var(--gutter));
}

/*
*#
*#
*#
*#
*#
*#
*#
*/

/* #endregion */
