/* set charset */
@charset "UTF-8";

/* #region ############################################### font faces ############################################### */
@font-face {
	font-style: normal;
	font-weight: 200 900;
	src: url("../Fonts/source-sans-variable/source-sans-variable.woff2") format("woff2-variations");
	font-family: "Source Sans Variable";
	font-display: block;
}

@font-face {
	font-style: italic;
	font-weight: 200 900;
	src: url("../Fonts/source-sans-variable/source-sans-variable-italic.woff2") format("woff2-variations");
	font-family: "Source Sans Variable";
	font-display: block;
}

/*
*#
*#
*#
*#
*#
*#
*#
*/

/* #endregion */

/* #region ############################################### variables ############################################### */
:where(:root) {
	/* main ci colors */
	--color__ci-pink--rgb_raw: 232 50 109;
	--color__ci-pink--rgb: rgb(var(--color__ci-pink--rgb_raw));
	--color__ci-green--rgb_raw: 116 186 89;
	--color__ci-green--rgb: rgb(var(--color__ci-green--rgb_raw));
	--color__ci-mint--rgb_raw: 191 225 215;
	--color__ci-mint--rgb: rgb(var(--color__ci-mint--rgb_raw));
	--color__ci-blue--rgb_raw: 58 152 204;
	--color__ci-blue--rgb: rgb(var(--color__ci-blue--rgb_raw));
	--color__ci-orange--rgb_raw: 247 171 100;
	--color__ci-orange--rgb: rgb(var(--color__ci-orange--rgb_raw));

	/* dark ci colors */
	--color__ci-dark-pink--rgb_raw: 112 48 90;
	--color__ci-dark-pink--rgb: rgb(var(--color__ci-dark-pink--rgb_raw));
	--color__ci-dark-green--rgb_raw: 31 106 97;
	--color__ci-dark-green--rgb: rgb(var(--color__ci-dark-green--rgb_raw));
	--color__ci-dark-blue--rgb_raw: 20 62 100;
	--color__ci-dark-blue--rgb: rgb(var(--color__ci-dark-blue--rgb_raw));

	/* generic colors */
	--color__white--rgb_raw: 255 255 255;
	--color__white--rgb: rgb(var(--color__white--rgb_raw));
	--color__light--rgb_raw: 225 225 225;
	--color__light--rgb: rgb(var(--color__light--rgb_raw));
	--color__dark--rgb_raw: 50 50 50;
	--color__dark--rgb: rgb(var(--color__dark--rgb_raw));
	--color__black--rgb_raw: 0 0 0;
	--color__black--rgb: rgb(var(--color__black--rgb_raw));

	/* ci variables */
	--color__ci-main--rgb_raw: var(--color__ci-blue--rgb_raw);
	--color__ci-main--rgb: var(--color__ci-blue--rgb);
	--color__ci-dark--rgb_raw: var(--color__ci-dark-blue--rgb_raw);
	--color__ci-dark--rgb: var(--color__ci-dark-blue--rgb);
	--color__ci-alt--rgb_raw: var(--color__ci-pink--rgb_raw);
	--color__ci-alt--rgb: var(--color__ci-pink--rgb);

	/* variables */
	--bg__color_raw: var(--color__white--rgb_raw);
	--bg__color: var(--color__white--rgb);
	--text__color_raw: var(--color__dark--rgb_raw);
	--text__color: var(--color__dark--rgb);
	--highlight__color_raw: var(--color__ci-pink--rgb_raw);
	--highlight__color: var(--color__ci-pink--rgb);

	/* font sizes */
	--font__size_multiplier: 1;
	--font__size--xs: calc(1.6rem * var(--font__size_multiplier));
	--font__size--sm: calc(1.8rem * var(--font__size_multiplier));
	--font__size--md: calc(2rem * var(--font__size_multiplier));
	--font__size--lg: calc(2.8rem * var(--font__size_multiplier));
	--font__size--xl: calc(3.4rem * var(--font__size_multiplier));

	/* font families */
	--font__family--ci: "Source Sans Variable", var(--font__family--sans-serif);
	--font__family--emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font__family--sans-serif: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans",
		sans-serif, var(--font__family--emoji);
	--font__family--serif: ui-serif, constantia, "Lucida Bright", lucidabright, "Lucida Serif", lucida, "DejaVu Serif",
		"Bitstream Vera Serif", "Liberation Serif", "Droid Serif", georgia, serif, var(--font__family--emoji);
	--font__family--monospace: ui-monospace, "Menlo", "Consolas", "Roboto Mono", "Ubuntu Monospace", "Noto Mono",
		"Oxygen Mono", "Liberation Mono", monospace, var(--font__family--emoji);
	--font__family--fa: "Font Awesome 6 Free";

	/* font weights */
	--font__weight--thin: 100;
	--font__weight--extralight: 200;
	--font__weight--light: 300;
	--font__weight--regular: 400;
	--font__weight--medium: 500;
	--font__weight--semibold: 600;
	--font__weight--bold: 700;
	--font__weight--extrabold: 800;
	--font__weight--black: 900;

	/* font styles */
	--font__style--normal: normal;
	--font__style--italic: italic;

	/* line-heights */
	--line-height--xs: 1.1;
	--line-height--sm: 1.225;
	--line-height--md: 1.5;
	--line-height--lg: 1.8;
	--line-height--xl: 2;
	--line-height--xxl: 2.5;

	/* gradients */
	--gradient__ci: linear-gradient(to right, var(--color__ci-dark--rgb), var(--color__ci-main--rgb));
	--gradient__light: linear-gradient(to right, var(--color__light--rgb), var(--color__white--rgb));
	--gradient__dark: linear-gradient(to right, var(--color__dark--rgb), var(--color__black--rgb));

	/* gutter */
	--gutter-alt: clamp(2.4rem, 1.6rem + 1.48148vw, 4rem);
	--gutter: 3.2rem;

	/* other */
	--blur__radius: 1rem;
	--blur__opacity: 90%;
	--border__line: 1px solid;
	--border__line--thick: 2px solid;
	--border__dots: 2px dotted;
	--logo__size: 6rem;
	--header__height: 8rem;

	/* document */
	--viewport__width: 100vw;
	--viewport__height: 100vh;

	/* breakpoints */
	--breakpoint--xs: 0;
	--breakpoint--sm: 540px;
	--breakpoint--md: 744px;
	--breakpoint--lg: 960px;
	--breakpoint--xl: 1260px;
	--breakpoint--xxl: 1620px;
	--breakpoint__width: var(--breakpoint--xs);

	/* --breakpoint--xxl: 1980px; */

	/* container sizes */
	--container--xs: var(--viewport__width);
	--container--sm: 516px;
	--container--md: 720px;
	--container--lg: 924px;
	--container--xl: 1200px;
	--container--xxl: 1536px;
	--container__width: var(--container--xs);

	/* --container--xxl: 1860px; */

	/* transitions */
	--scroll-behavior: smooth;
	--transition__duration: 325ms;
	--transition__timing-function: cubic-bezier(0.15, 0.15, 0.3, 0.9);
	--transition__delay: 0ms;
	--transition: var(--transition__duration) var(--transition__timing-function) var(--transition__delay);

	/* text */
	font-size: 62.5%;
}

/* var(--breakpoint-sm) => 540px */
@media (min-width: 540px) {
	:root {
		--gutter: 3.4rem;
		--container__width: var(--container--sm);
		--breakpoint__width: var(--breakpoint--sm);
	}
}

/* var(--breakpoint-md) => 744px */
@media (min-width: 744px) {
	:root {
		--gutter: 3.6rem;
		--logo__size: 7.5rem;
		--header__height: 11.5rem;
		--container__width: var(--container--md);
		--breakpoint__width: var(--breakpoint--md);
	}
}

/* var(--breakpoint-lg) => 960px */
@media (min-width: 960px) {
	:root {
		--gutter: 3.8rem;
		--container__width: var(--container--lg);
		--breakpoint__width: var(--breakpoint--lg);
	}
}

/* var(--breakpoint-xl) => 1260px */
@media (min-width: 1260px) {
	:root {
		--font__size--xs: calc(2rem * var(--font__size_multiplier));
		--font__size--sm: calc(2.4rem * var(--font__size_multiplier));
		--font__size--md: calc(2.4rem * var(--font__size_multiplier));
		--font__size--lg: calc(4.2rem * var(--font__size_multiplier));
		--font__size--xl: calc(4.2rem * var(--font__size_multiplier));
		--gutter: 4rem;
		--logo__size: 9rem;
		--header__height: 15rem;
		--container__width: var(--container--xl);
		--breakpoint__width: var(--breakpoint--xl);
	}
}

/* var(--breakpoint-xxl) => 1620px */

/* @media (min-width: 1620px) {
	:root {
		--gutter: 4.2rem;
		--container__width: var(--container--xxl);
		--breakpoint__width: var(--breakpoint--xxl);
	}
} */

/*
*#
*#
*#
*#
*#
*#
*#
*/

/* #endregion */
