/* set charset */
@charset "UTF-8";

/* #region ############################################### general ############################################### */

* {
	scroll-behavior: inherit;
}

[data-color-scheme="dark"] {
	color-scheme: dark;
}

button {
	border: none;
	border-radius: 0;
	background: none;
	padding: 0;
}

figure {
	margin-bottom: 0;
}

figure > :any-link {
	display: inline-block;
}

/*
*#
*#
*#
*#
*#
*#
*#
*/

/* #endregion */

/* #region ############################################### bootstrap ############################################### */

/* flex grids */
.row {
	margin-right: 0;
	margin-left: 0;
}

.row > * {
	padding-right: 0;
	padding-left: 0;
}

/* navs */
.nav.flex-column {
	width: 100%;
}

.nav .nav-item,
.nav .nav-link {
	display: inline-block;
}

.nav .nav-item::marker {
	content: none !important;
}

.nav :is([disabled], [aria-disabled="true"]) {
	cursor: inherit;
}

/*
*#
*#
*#
*#
*#
*#
*#
*/

/* #endregion */

/* #region ############################################### fontawesome ############################################### */

[class|="fa"i],
[class|="fa"i]::before,
[class|="fa"i]::after {
	touch-action: manipulation;
	font-weight: 550;
	-webkit-user-select: none;
	user-select: none;
}

.fa-fw {
	width: 1.525em;
}

/*
*#
*#
*#
*#
*#
*#
*#
*/

/* #endregion */

/* #region ############################################### fancybox ############################################### */

/* fancybox */
.fancybox-thumbs {
	background: none;
	background-color: rgb(var(--color__dark--rgb_raw) / 40%);
}

.fancybox-thumbs .fancybox-thumbs-active::before {
	border: 0.425rem solid var(--highlight__color);
}

/*
*#
*#
*#
*#
*#
*#
*#
*/

/* #endregion */

/* #region ############################################### fluid_style_content ############################################### */

/* remove extra space below figure element in logo context */
.logo figure {
	line-height: 0;
}

/* tables */
.ce-table {
	display: block;
	overflow-x: auto;
}

.ce-table th,
.ce-table td {
	vertical-align: top;
	padding: calc(var(--gutter) / 4) 1em;
}

.ce-table td {
	padding: calc(var(--gutter) * 3 / 4) 1em;
}

.ce-table tr > *:not(:last-child) {
	border-right: var(--line) rgb(var(--text__color_raw) / 20%);
}

.ce-table > thead {
	border-bottom: var(--line) var(--text__color);
}

.ce-table tbody tr:nth-child(odd) {
	--bg__color-raw: var(--highlight__color_raw);
	--bg__color: rgb(var(--highlight__color_raw) / 15%);

	background-color: var(--bg__color);
}

/* ce-textpic */
.ce-gallery figure {
	line-height: 0;
}

.ce-gallery figcaption {
	line-height: revert;
}

:not(.ce-left) > .ce-gallery {
	display: flex;
}

.ce-center > .ce-gallery {
	justify-content: center;
}

.ce-right > .ce-gallery {
	justify-content: flex-end;
}

.ce-intext::before,
.ce-intext::after {
	display: table;
	clear: both;
	content: "";
}

.ce-intext > .ce-gallery {
	float: left;
	margin-bottom: 1em;
	padding-right: 1.25em;
	width: 100%;
	max-width: 50%;
}

.ce-intext.ce-right > .ce-gallery {
	float: right;
	padding-right: initial;
	padding-left: 1.25em;
}

/* lists & sitemap */
.frame-type-menu_sitemap_pages ul,
.frame-type-menu_sitemap_pages ol,
.frame-type-text ul,
.frame-type-text ol,
.hs-text ul,
.hs-text ol {
	padding-left: 1.125em;
}

.frame-type-menu_sitemap_pages li,
.frame-type-text li,
.hs-text li {
	margin: 0.75em 0;
}

.frame-type-menu_sitemap_pages li::marker,
.frame-type-text li::marker,
.hs-text li::marker {
	padding-right: 0.25em;
	font-weight: var(--font__weight--semibold);
}

/*
*#
*#
*#
*#
*#
*#
*#
*/

/* #endregion */

/* #region ############################################### typo3 ############################################### */

:any-link.email {
	word-break: break-all;
}

:any-link.telephone,
:any-link.download {
	-webkit-hyphens: auto;
	hyphens: auto;
}

/*
*#
*#
*#
*#
*#
*#
*#
*/

/* #endregion */
