/* set charset */
@charset "UTF-8";
/* stylelint-disable unit-disallowed-list */

:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
	all: unset;
	display: revert;
}

*,
::before,
::after {
	box-sizing: border-box;
	background-repeat: no-repeat;
}

::before,
::after {
	vertical-align: inherit;
	text-decoration: inherit;
}

:where(:root) {
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: unset;
	line-height: 1.5;
	text-rendering: optimizelegibility;
	text-rendering: geometricprecision;
	overflow-wrap: break-word;
	tab-size: 4;
}

/* stylelint-disable-next-line media-feature-name-no-vendor-prefix */
@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
	:where(:root) {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

:where(body) {
	margin: 0;
}

:where(h1) {
	margin: 0.67em 0;
	font-size: 2em;
}

:where(dl, ol, ul) {
	padding-inline-start: 2rem;
}

:where(dl, ol, ul) :where(dl, ol, ul) {
	margin: 0;
}

:where(ol) {
	list-style-type: decimal;
}

:where(::marker) {
	color: inherit;
}

:where(ul > li::marker) {
	content: "\2022\00A0";
}

:where(hr) {
	height: 0;
	color: inherit;
}

:where(nav) :where(ol, ul) {
	padding: 0;
	list-style-type: none;
}

:where(pre) {
	all: revert;
	overflow: auto;
}

:where(abbr[title]) {
	text-decoration: underline;
	text-decoration: underline dotted;
}

:where(:any-link, button) {
	cursor: revert;
}

:where(b, strong) {
	font-weight: bolder;
}

:where(pre, code, kbd, samp) {
	font-size: 1em;
	font-family: monospace;
}

:where(small) {
	font-size: 80%;
}

:where(sub, sup) {
	position: relative;
	vertical-align: baseline;
	font-size: 75%;
	line-height: 0;
}

:where(sub) {
	bottom: -0.25em;
}

:where(sup) {
	top: -0.5em;
}

:where(audio, canvas, iframe, img, svg, video) {
	vertical-align: middle;
}

:where(iframe) {
	border-style: none;
}

:where(svg:not([fill])) {
	fill: currentcolor;
}

:where(table) {
	border-color: inherit;
	border-color: currentcolor;
	border-collapse: collapse;
	text-indent: 0;
}

:where([type="color" i], [type="range" i]) {
	border-width: 0;
	padding: 0;
}

:where(button, input, optgroup, select, textarea) {
	margin: 0;
	font-size: 100%;
	line-height: 1.5;
	font-family: inherit;
}

:where(button, input, select, textarea) {
	border: 1px solid WindowFrame;
	background-color: transparent;
	padding: 0.25em 0.375em;
	color: inherit;
	font: inherit;
	letter-spacing: inherit;
}

:where(iframe, img, input, video, select, textarea) {
	height: auto;
	max-inline-size: 100%;
	max-block-size: 100%;
}

:where(input, textarea, [contenteditable]:not([contenteditable="false"])) {
	-webkit-user-select: auto;
	user-select: auto;
}

:where(button, [class*="btn"i], [type="button"i], [type="reset"i], [type="submit"i]) {
	-webkit-user-select: none;
	user-select: none;
}

:where([contenteditable]:not([contenteditable="false"])) {
	line-break: after-white-space;
	overflow-wrap: break-word;
}

:where(button, select) {
	text-transform: none;
}

:where(select) {
	-webkit-appearance: none;
	appearance: none;
	border-radius: 0;
	background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4'%3E%3Cpath d='M4 0h6L7 4'/%3E%3C/svg%3E")
		no-repeat right center / 1em;
	padding-right: 1em;
}

:where(select[multiple]) {
	background-image: none;
}

:where(button, [type="button"i], [type="reset"i], [type="submit"i]) {
	-webkit-appearance: button;
	appearance: button;
}

:where(fieldset) {
	border: 1px solid #a0a0a0;
}

:where(legend) {
	padding: 0;
}

:where(progress) {
	vertical-align: baseline;
}

:where(meter) {
	-webkit-appearance: revert;
	appearance: revert;
}

:where(textarea) {
	resize: vertical;
	white-space: revert;
}

:where([type="search"i]) {
	-webkit-appearance: textfield;
	appearance: textfield;
	outline-offset: -2px;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

::placeholder {
	opacity: 0.54;
	color: inherit;
}

::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

:where(dialog) {
	position: absolute;
	right: 0;
	left: 0;
	margin: auto;
	border: solid;
	background-color: white;
	padding: 1em;
	width: fit-content;
	height: fit-content;
	color: black;
}

:where(dialog:not([open])) {
	display: none;
}

:where(details > summary:first-of-type) {
	display: list-item;
}

:where([hidden]) {
	display: none;
}

:where([aria-busy="true"i]) {
	cursor: progress;
}

:where([aria-disabled="true"i], [disabled]) {
	cursor: not-allowed;
}

:where([aria-hidden="false"i][hidden]) {
	display: initial;
}

:where([aria-hidden="false"i][hidden]:not(:focus)) {
	position: absolute;
	clip-path: inset(50%);
}

:where(dialog:modal) {
	all: revert;
}
