/* set charset */
@charset "UTF-8";

/* #region ############################################### general styles ############################################### */

/* dark-mode */
[data-color-scheme="dark"] {
	--bg__color_raw: var(--color__dark--rgb_raw);
	--bg__color: var(--color__dark--rgb);
	--text__color_raw: var(--color__white--rgb_raw);
	--text__color: var(--color__white--rgb);
	--highlight__color_raw: var(--text__color_raw);
	--highlight__color: var(--text__color);
}

/* selection */
::selection {
	background-color: rgb(var(--highlight__color_raw) / 30%);
}

/* focus */
:focus-visible,
:focus-visible img {
	outline: 0.2rem solid var(--highlight__color) !important;
	outline-offset: 0.1rem;
	background-color: rgb(var(--highlight__color_raw) / 16%);
}

:focus-visible img {
	outline-offset: -0.2rem;
}

/* document */
html {
	min-height: 100%;
	scroll-behavior: var(--scroll-behavior);
	scroll-padding-top: calc(var(--header__height) + var(--gutter) * 3 / 2);
	accent-color: var(--color__ci-main--rgb);
}

body {
	-webkit-tap-highlight-color: inherit;
	-webkit-text-size-adjust: inherit;
	text-size-adjust: inherit;
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;
	position: relative;
	margin: 0;
	background-color: var(--bg__color);
	min-height: var(--viewport__height);
	color: var(--text__color);
	font-weight: var(--font__weight--regular);
	font-size: var(--font__size--sm);
	line-height: var(--line-height--md);
	font-family: var(--font__family--ci);
	font-optical-sizing: none;
	text-rendering: inherit;
	overflow-wrap: inherit;
	tab-size: inherit;
}

body::before {
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0.125;
	z-index: -1;
	width: max(30rem, 47.5%);
	height: auto;
	pointer-events: none;
}

/* headlines */
:is(h1, .h1, h2, .h2, h3, .h3, h4, .h4) {
	display: block;
	margin-bottom: 0.5em;
	width: -moz-fit-content;
	width: fit-content;
	color: var(--text__color);
	line-height: var(--line-height--sm);

	/* font-weight: var(--font__weight--semibold) */
	font-variation-settings: "wght" var(--font__weight--semibold);
	-webkit-hyphens: auto;
	hyphens: auto;
	letter-spacing: -0.01125em;
}

:is(h1, .h1, h2, .h2) {
	margin-bottom: 1em;
	font-size: var(--font__size--xl);
}

:is(h3, .h3) {
	font-size: var(--font__size--lg);
}

:is(h4, .h4) {
	font-size: var(--font__size--md);

	/* font-weight: var(--font__weight--bold) */
	font-variation-settings: "wght" var(--font__weight--bold);
}

/*
*#
*#
*#
*#
*#
*#
*#
*/

/* #endregion */

/* #region ############################################### link styles ############################################### */
:is(:any-link, button, [class*="btn"i], [type="button"i], [type="reset"i], [type="submit"i]) {
	cursor: pointer;
}

/* buttons */
:is(button, [class*="btn"i], [type="button"i], [type="reset"i], [type="submit"i]) {
	color: var(--text__color);

	/* font-weight: var(--font__weight--semibold) */
	font-variation-settings: "wght" var(--font__weight--semibold);
	-webkit-hyphens: auto;
	hyphens: auto;
}

[class*="btn"i]:is(:hover, :focus-visible) {
	color: var(--highlight__color);
}

/*
*#
*#
*#
*#
*#
*#
*#
*/

/* #endregion */

/* #region ############################################### miscellaneous styles ############################################### */

/* general */
:is(strong, b) {
	/* font-weight: var(--font__weight--bold) */
	font-variation-settings: "wght" var(--font__weight--bold);
}

:is(blockquote, em, i) {
	padding-inline-end: 0.05em;

	/* font-variation-settings: "ital" 1; */
	font-style: var(--font__style--italic);
}

blockquote {
	padding: calc(var(--gutter) * 2 / 3) calc(var(--gutter) * 1 / 3);
	font-size: var(--font__size--sm);
	line-height: var(--line-height--sm);
}

blockquote :not(:last-child) {
	margin-bottom: 0.25em;
}

blockquote :is(strong, b) {
	/* font-weight: var(--font__weight--semibold); */
	font-variation-settings: "wght" var(--font__weight--semibold);
}

blockquote :is(em, i) {
	/* font-weight: var(--font__weight--light); */
	font-variation-settings: "wght" var(--font__weight--light);
}

:is(p, dl, ol, ul) {
	margin-bottom: 1.5em;
}

:is(p, dl, ol, ul):last-child {
	margin-bottom: 0;
}

:is(img, video) {
	object-fit: cover;
	object-position: center;
}

hr {
	opacity: 1;
	margin: calc(var(--gutter) * 1.125) 0;
	border-top: var(--border__line) var(--color__ci-main--rgb);
}

/* lists & sitemap */
::marker {
	transition: color var(--transition);
	color: var(--highlight__color);
}

/* video 16 by 9 */
video {
	aspect-ratio: 16/9;
}

/* forms */
:is([type="text"i], [type="search"i], [type="password"i], [type="tel"i], [type="email"i], select, textarea) {
	content: "input";
}

/* collapse */
.collapse:not(.transition):not(.open) {
	visibility: hidden;
}

.collapse:not(.open) {
	height: 0 !important;
}

.collapse.transition {
	transition: height var(--transition);
	overflow-y: hidden;
}

/*
*#
*#
*#
*#
*#
*#
*#
*/

/* #endregion */

/* #region ############################################### header styles ############################################### */

/* general */
#header {
	content: "header";
}

#header .logo img {
	width: auto;
	height: var(--logo__size);
}

/*
*#
*#
*#
*#
*#
*#
*#
*/

/* #endregion */

/* #region ############################################### hero styles ############################################### */
#hero {
	content: "hero";
}

/*
*#
*#
*#
*#
*#
*#
*#
*/

/* #endregion */

/* #region ############################################### main styles ############################################### */
#content {
	/* overflow-x: hidden; */
	contain: paint;
}

#content > div {
	margin-block: var(--gutter);
}

/*
*#
*#
*#
*#
*#
*#
*#
*/

/* #endregion */

/* #region ############################################### footer styles ############################################### */
#footer {
	content: "footer";
}

/*
*#
*#
*#
*#
*#
*#
*#
*/

/* #endregion */
