/* set charset */
@charset "UTF-8";

/* #region ############################################### general ############################################### */

* {
	scroll-behavior: inherit;
}

[data-color-scheme="dark"] {
	color-scheme: dark;
}

button {
	border: none;
	border-radius: 0;
	background: none;
	padding: 0;
}

figure {
	margin-bottom: 0;
}

figure > :any-link {
	display: inline-block;
}

/*
*#
*#
*#
*#
*#
*#
*#
*/

/* #endregion */

/* #region ############################################### links ############################################### */

:any-link.email {
	word-break: break-all;
}

:any-link.telephone,
:any-link.download {
	-webkit-hyphens: auto;
	hyphens: auto;
}

/*
*#
*#
*#
*#
*#
*#
*#
*/

/* #endregion */
