<IfModule mod_headers.c>
    Header always unset Content-Security-Policy
    Header always unset Cache-Control
    Header always set Cache-Control "max-age=31536000, immutable"
    Header always set Content-Security-Policy "default-src 'none'"
</IfModule>